* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div {
    width: 75%;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 32px;
}
h2 {
    color: black;
    font-size: 20px;
    
}
h3 {
    color: black;
}
p {
    line-height: 1.5rem;
    hyphens: manual;
    font-size: 18px;
}
#yaxis .tick line {
    stroke: white;
}

#xaxis .tick line {
    stroke: white;
}
#xaxis .domain {
    stroke: black;
}
.annotation path {
    stroke: steelblue;
    stroke-width: 2px;
}
.annotation text {
    fill: steelblue;
}
.annotation:not(.above):not(.anomaly) path {
    stroke-dasharray: 4;
}
.links {
    overflow: hidden;
    background-color: #333;
  }
  
  .links a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .links a:hover {
    background-color: #ddd;
    color: black;
  }

  .links #current {
    background-color: #ddd;
    color: black;
  }

input[type="checkbox"] {
    accent-color: #333;
}

.primarySchool {
    color: #0FB5AE;
    font-weight: bold;
}
.highSchool {
    color: #4046CA;
    font-weight: bold;
}
.associatesDegree {
    color: #F68511;
    font-weight: bold;
}
.professionalDegree {
    color: #DE3D82;
    font-weight: bold;
}
.White {
    color: #72E06A;
    font-weight: bold;
}
.Black {
    color: #147AF3;
    font-weight: bold;
}
.Asian {
    color: #7326D3;
    font-weight: bold;
}
.Hispanic {
    color: #E8C600;
    font-weight: bold;
}
.Male {
    color: #CB5D00;
    font-weight: bold;
}
.Female {
    color: #008F5D;
    font-weight: bold; 
}
.majorEvent {
    color: steelblue;
    font-weight: bold;
}
